@model Czytelnia.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h2>Dodajesz książkę</h2>

<h4>Książka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <select asp-for="Autor" class="form-control" asp-items="ViewBag.Autor">
                    <option value="">-- Wybierz autora --</option>
                </select>
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gatunek" class="control-label"></label>
                <select asp-for="Gatunek" class="form-control" asp-items="ViewBag.Gatunek">
                    <option value="">-- Wybierz gatunek --</option>
                </select>
                <span asp-validation-for="Gatunek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
