@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Czytelnia w Pcimiu Dolnym</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Witaj na stronie naszej czytelni</h2>
        <p>
            Powyższy nagłówek nie ma na celu ośmieszania żadnego miasta.
            Jest to jedynie projekt zaliczeniowy z SCRiSK.
            Może się uruchomi...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Przeglądaj książki</h2>
        <p>Możesz przeglądać listę naszych książek.</p>
        <p><a class="btn btn-default" asp-controller="Books" asp-action="Index">Do listy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Przeglądaj autorów</h2>
        <p>Możesz przeglądać listę naszych autorów</p>
        <p><a class="btn btn-default" asp-controller="Authors" asp-action="Index">Do listy &raquo;</a></p>
    </div>
</div>